/* MISC*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
/*Vars*/
/* Colors*/
/*Spacings*/
/*map spacings*/
/*Font Family*/
/* Font Size*/
/* Font Weight*/
/* Normalize*/
* {
  font-family: "Zilla Slab", serif;
  color: #FFFCF2;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #252422;
  max-width: 1400px;
  margin: 0 auto; }

img {
  border-radius: 2px;
  width: 100%; }

/* Override Bootstrap*/
a {
  color: inherit; }

a:hover {
  color: inherit; }

/* Partials*/
header {
  background-image: url("../img/textura_metal_1044.png");
  width: 100%;
  padding-bottom: 1rem; }

.menu {
  background-color: #252422;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  position: relative; }

.menu__logo {
  flex-basis: 40%; }

.menu__logo img {
  max-width: 300px; }

.menu__logo a {
  text-decoration: none; }

.menu__item {
  list-style: none;
  font-size: 2em;
  font-weight: 400;
  display: inline;
  align-items: center;
  gap: 1rem; }

.menu__item a {
  text-decoration: none; }

.menu__item--active {
  color: #EB5E28; }

footer {
  background-image: url("../img/textura_metal_1044.png");
  text-align: center;
  font-weight: 800;
  font-size: 1.4em;
  max-height: fit-content; }

/*Views*/
.boxhome {
  display: flex;
  margin: 6rem;
  flex-wrap: nowrap;
  flex-direction: column; }
  .boxhome .imagen {
    min-width: 320px; }
  .boxhome .boxhome__item__text {
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    font-size: 3.4em; }
  .boxhome .card1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem; }
  .boxhome .card2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem; }

@media screen and (max-width: 780px) {
  .boxhome {
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .boxhome .card1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 4rem; }
    .boxhome .card2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 4rem;
      padding-top: 2rem; } }

.material, .material .materialcard {
  padding: 4rem; }
  .material .titulo__seccion {
    font-size: 3.4em;
    font-weight: 600;
    border-bottom: solid 8px #FFFCF2; }
  .material .materialcard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min 260px, 100%, 1fr));
    gap: 2rem;
    padding-top: 2rem; }
  .material .subtitulo {
    display: flex;
    flex-direction: column;
    font-size: 3.4em;
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    padding-bottom: 2rem; }
  .material p, .material .materialcard p {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    text-align: justify; }

@media screen and (max-width: 450px) {
  .material, .material .materialcard {
    padding: 2rem; }
    .material .titulo__seccion {
      font-size: 3.4em;
      font-weight: 600;
      border-bottom: solid 8px #FFFCF2; }
    .material .materialcard {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min 260px, 100%, 1fr));
      gap: 1rem;
      padding-top: 1rem; }
    .material .subtitulo {
      display: flex;
      flex-direction: column;
      font-size: 2em;
      font-family: "Zilla Slab", serif;
      font-weight: 600;
      padding-bottom: 2rem; }
    .material p, .material .materialcard p {
      display: flex;
      flex-direction: column;
      font-family: "Poppins", sans-serif;
      font-size: 1.2em;
      text-align: justify; } }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem; }
  .cards .cards__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    background-color: #252422;
    padding: 2rem; }
  .cards .box__info {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4em; }
  .cards .cards__img :hover {
    opacity: 90%;
    transform: scale(105%, 105%); }

/* Forms*/
.titulo__seccion {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 3.4em;
  padding-top: 2rem;
  border-bottom: solid 8px #FFFCF2; }

.forms {
  background-color: #252422;
  padding: 2rem 6rem;
  display: block;
  align-items: center; }
  .forms .forms__datos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 0;
    flex-wrap: nowrap;
    padding: 2rem 6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2em; }
  .forms .inputs {
    border-radius: 6px;
    border-color: #FFFCF2;
    background-color: #252422;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    min-width: 40%;
    min-height: 4rem; }
  .forms label {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-size: 1.2em; }
  .forms .button {
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.5rem;
    background-color: #EB5E28;
    border-radius: 12px;
    border-color: #EB5E28;
    align-self: flex-end; }

.contacto {
  background-color: #252422;
  display: block;
  gap: 2rem;
  padding-right: 6rem;
  padding-left: 6rem; }
  .contacto .contacto__datos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 2rem 4rem; }
  .contacto .subtitulo {
    text-decoration: none; }
  .contacto .contacto__datos {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2em; }
  .contacto .contacto__datos img {
    display: flex;
    flex-direction: row;
    max-width: 3rem;
    min-width: 1rem; }
  .contacto .contacto__datos:hover img:hover {
    background-color: #EB5E28;
    box-shadow: 2px 4px 8px 1px #EB5E28; }
  @media screen and (max-width: 780px) {
    .contacto .titulo__seccion {
      font-family: "Zilla Slab", serif;
      font-weight: 600;
      font-size: 3.4em;
      padding-top: 2rem;
      border-bottom: solid 8px #FFFCF2; }
    .contacto .forms {
      background-color: #252422;
      padding: 2rem 2rem;
      display: block;
      align-items: center; }
      .contacto .forms .forms__datos {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        gap: 0;
        flex-wrap: nowrap;
        padding: 2rem 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 2em; }
      .contacto .forms .inputs {
        border-radius: 6px;
        border-color: #FFFCF2;
        background-color: #252422;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        min-width: 40%;
        min-height: 4rem; }
      .contacto .forms label {
        font-family: "Zilla Slab", serif;
        font-weight: 400;
        font-size: 1.2em; }
      .contacto .forms .button {
        font-family: "Zilla Slab", serif;
        font-weight: 600;
        font-size: 1.2em;
        padding: 0.5rem;
        background-color: #EB5E28;
        border-radius: 12px;
        border-color: #EB5E28;
        align-self: flex-end; }
    .contacto .contacto {
      background-color: #252422;
      display: block;
      padding: 2rem 2rem; }
      .contacto .contacto .contacto__datos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        padding: 2rem 1rem; }
      .contacto .contacto .contacto__datos {
        display: flex;
        align-items: center;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 1.2em; }
      .contacto .contacto .contacto__datos img {
        display: flex;
        flex-direction: row;
        max-width: 3rem;
        min-width: 2rem; } }

.nosotros {
  padding: 6rem; }
  .nosotros .titulo__seccion {
    font-size: 3.4em;
    font-weight: 600;
    padding: 2rem 0 2rem 0;
    border-bottom: solid 8px #FFFCF2; }
  .nosotros p {
    display: block;
    font-size: 2em;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    padding: 2rem; }

@media screen and (max-width: 450px) {
  .nosotros {
    padding: 2rem; }
    .nosotros .titulo__seccion {
      font-size: 3.4em;
      font-weight: 600;
      border-bottom: solid 8px #FFFCF2; }
    .nosotros .contacto {
      padding: 1rem; }
    .nosotros p {
      display: block;
      font-size: 1.2em;
      font-family: "Poppins", sans-serif;
      text-align: justify; } }
