/* MISC*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
/*Vars*/
/* Colors*/
/*Spacings*/
/*map spacings*/
/*Font Family*/
/* Font Size*/
/* Font Weight*/
/* Normalize*/
* {
  font-family: "Zilla Slab", serif;
  color: #FFFCF2;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #252422;
  max-width: 1400px;
  margin: 0 auto; }

img {
  border-radius: 2px;
  width: 100%; }

/* Override Bootstrap*/
a {
  color: inherit; }

a:hover {
  color: inherit; }

/* Partials*/
header {
  background-image: url("../img/textura_metal_1044.png");
  width: 100%;
  padding-bottom: 1rem; }

.menu {
  background-color: #252422;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  position: relative; }

.menu__logo {
  flex-basis: 40%; }

.menu__logo img {
  max-width: 300px; }

.menu__logo a {
  text-decoration: none; }

.menu__item {
  list-style: none;
  font-size: 2em;
  font-weight: 400;
  display: inline;
  align-items: center;
  gap: 1rem; }

.menu__item a {
  text-decoration: none; }

.menu__item--active {
  color: #EB5E28; }

footer {
  background-image: url("../img/textura_metal_1044.png");
  text-align: center;
  font-weight: 800;
  font-size: 1.4em;
  max-height: fit-content; }

/*Views*/
.boxhome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  padding: 4rem; }
  .boxhome .card1 {
    display: grid;
    align-self: center; }
  .boxhome .card2 {
    display: grid;
    align-self: center; }
  .boxhome picture {
    max-width: 500px; }
  .boxhome .boxhome__item__text {
    font-size: 3.4em;
    padding: 4rem; }
  .boxhome .imagen:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1; }
  .boxhome .card1:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1; }
  .boxhome .card2:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2; }
  .boxhome .imagen:nth-of-type(4) {
    grid-column: 2;
    grid-row: 2; }

.material, .material .materialcard {
  padding: 4rem; }
  .material .titulo__seccion {
    font-size: 3.4em;
    font-weight: 600;
    border-bottom: solid 8px #FFFCF2; }
  .material .materialcard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;
    padding-top: 2rem; }
  .material .subtitulo {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    padding-bottom: 2rem; }
  .material p, .material .materialcard p {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 1.2em; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  /*.box:hover { 
    transform: scale(1.2) translateX(13%) translateY(16%);
   
}*/ }
  .cards .cards__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    transition: 45ms;
    background-color: #252422;
    padding: 2rem; }
  .cards .box__info {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4em; }

/* Forms*/
.titulo__seccion {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 3.4em;
  padding-top: 2rem;
  border-bottom: solid 8px #FFFCF2; }

.forms {
  background-color: #252422;
  padding: 2rem 6rem;
  display: block;
  align-items: center; }
  .forms .forms__datos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 0;
    flex-wrap: nowrap;
    padding: 2rem 6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2em; }
  .forms .inputs {
    border-radius: 6px;
    border-color: #FFFCF2;
    background-color: #252422;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    min-width: 40%;
    min-height: 4rem; }
  .forms label {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-size: 1.2em; }
  .forms .button {
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.5rem;
    background-color: #EB5E28;
    border-radius: 12px;
    border-color: #EB5E28;
    align-self: flex-end; }

.contacto {
  background-color: #252422;
  display: block;
  gap: 2rem;
  padding-right: 6rem;
  padding-left: 6rem; }
  .contacto .contacto__datos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 2rem 4rem; }
  .contacto .contacto__datos {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2em; }
  .contacto .contacto__datos img {
    display: flex;
    flex-direction: row;
    max-width: 3rem;
    min-width: 1rem; }

.nosotros {
  padding: 6rem; }
  .nosotros .titulo__seccion {
    font-size: 3.4em;
    font-weight: 600;
    padding: 2rem 0 2rem 0;
    border-bottom: solid 8px #FFFCF2; }
  .nosotros p {
    display: block;
    font-size: 2em;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    padding: 2rem; }
