header {

    background-image: url("../img/textura_metal_1044.png");
    width: 100%;
    padding-bottom: 1rem;}
  

     .menu {
    background-color: $secondary;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: $spacing-xsmall;
    position: relative;    }
        .menu__logo {
        flex-basis: 40%;}
             .menu__logo img {
            max-width: 300px;}
            .menu__logo a {
                text-decoration: none;}
                  .menu__item {
                    list-style: none;
                    font-size: $text-medium;
                    font-weight: $medium;
                    display: inline;
                    align-items: center;
                    gap: 1rem;}
                      .menu__item a {
                       text-decoration: none;}
                          .menu__item--active {
                           color: $active}
        
             
 