.material {
    padding: $spacing-medium;
    
   
    .titulo__seccion {
        font-size: $text-large;
        font-weight: $bold;
        padding:map-get($spacings, $spacing-small 0 $spacing-small 0);;
        border-bottom: solid 8px $primary;}
        

.materialcard {
    @extend .material;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( (min 260px,100%), 1fr));
    gap: $spacing-small;
    padding-top:  $spacing-small;
    
    
}
.subtitulo {
    display: flex;
    flex-direction: column;
    font-size: $text-large;
    font-family: $font-title;
    font-weight: $bold;
    padding-bottom: $spacing-small;
    
}
 p {
    display: flex;
    flex-direction: column;
    font-family: $font-text;
    font-size: $text-medium;
    text-align: justify;
    
}
}
@media screen and (max-width:450px) {
    .material {
        padding: $spacing-small;
         
        .titulo__seccion {
            font-size: $text-large;
            font-weight: $bold;
            padding:map-get($spacings, $spacing-small 0 $spacing-small 0);;
            border-bottom: solid 8px $primary;}
            
    
    .materialcard {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax( (min 260px,100%), 1fr));
        gap: $spacing-xsmall;
        padding-top:  $spacing-xsmall;
        
        
    }
    .subtitulo {
        display: flex;
        flex-direction: column;
        font-size: $text-medium;
        font-family: $font-title;
        font-weight: $bold;
        padding-bottom: $spacing-small;
        
    }
     p {
        display: flex;
        flex-direction: column;
        font-family: $font-text;
        font-size: $text-small;
        text-align: justify;
        
  
}
}
}