.material {
    padding: $spacing-medium;
   
    .titulo__seccion {
        font-size: $text-large;
        font-weight: $bold;
        padding: $spacing-small 0 $spacing-xsmall 0;
        border-bottom: solid 8px $primary;}

.materialcard {
   display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}
/*
    display: flex;

}*/
.subtitulo {
    display: flex;
    flex-direction: column;
    font-size: $text-medium;
    font-family: $font-title;
    font-weight: $bold;
    padding-bottom: $spacing-xsmall;
    
}
 p {
    display: flex;
    flex-direction: column;
    font-family: $font-text;
    font-size: $text-small;
}
}