.nosotros {
    padding: $spacing-large;

    .titulo__seccion {
        font-size: $text-large;
        font-weight: $bold;
        padding: $spacing-small 0$spacing-small 0;
        border-bottom: solid 8px $primary;}
    

        p {
    display: block;
    font-size: $text-medium;
    font-family: $font-text;
    text-align: justify;
   padding: $spacing-small;
}
}
@media screen and (max-width:450px) {
    .nosotros {
        padding: $spacing-small;
    
        .titulo__seccion {
            font-size: $text-large;
            font-weight: $bold;
           
            border-bottom: solid 8px $primary;}
        .contacto {
            padding: $spacing-xsmall;
        }
    
            p {
        display: block;
        font-size: $text-small;
        font-family: $font-text;
        text-align: justify;
       
}
}
}