.nosotros {
    padding: $spacing-large;

    .titulo__seccion {
        font-size: $text-large;
        font-weight: $bold;
        padding: $spacing-small 0 $spacing-xsmall 0;
        border-bottom: solid 8px $primary;}
    

        p {
    display: block;
    font-size: $text-medium;
    font-family: $font-text;
    text-align: justify;
   padding: $spacing-small;
}
}