.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $spacing-small;
   
.cards__box {
    @include flex(column,flex-start, center ,$spacing-small);
    background-color: #252422;
    padding: $spacing-small;
}
 .box__info { 
    @include font ($font-text,$medium,$text-base);
}
.cards__img :hover {
    opacity: 90%;
    transform: scale(105%,105%);
}
}