/* Normalize*/
* {
    font-family: $font-title;
    color: $primary;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   html { 
       font-size: 62.5%;
   }
   
   
   body {
       background-color: #252422;
       max-width: 1400px;
       margin: 0 auto;
       
   }
     
    img {
        border-radius: 2px;
        width: 100%;
   
    }
     /* Override Bootstrap*/
   
   a {
       color: inherit;
       
   }
   a:hover {
       color: inherit;
   }
   