/*Vars*/
    /* Colors*/
    $primary: #FFFCF2;
    $secondary:#252422;
    $active:#EB5E28;
    
    

    /*Spacings*/
    $spacing-large: 6rem;
    $spacing-medium: 4rem;
    $spacing-small: 2rem; 
    $spacing-xsmall: 1rem;
    /*map spacings*/
   
    $spacings: (
        spacing-large: 6rem,
        spacing-medium: 4rem,
        spacing-small: 2rem,
        spacing-xsmall: 1rem,
    );

    
    /*Font Family*/
    $font-text: 'Poppins', sans-serif;
    $font-title:'Zilla Slab', serif;

    /* Font Size*/
    $text-large:3.4em;
    $text-medium:2em;
    $text-base:1.4em;
    $text-small:1.2em;
    $text-xsmall:0.8em;

    /* Font Weight*/
    $black: 800;
    $bold: 600;
    $medium:400;
    $light: 300;
